body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: white;
}

/* Title and Nav Bar */

#title {
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.download-button {
    margin: 5% 3% 5%;
}

.title-image {
    width: 250px;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
}

.carousel-item {
    padding: 7% 15%;
}


.testimonial-img {
    margin: 20px;
    border-radius: 100%;
    width: 10%;
}

/* Press Section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

/* Call To Action */

#cta {
    padding: 7% 15%;
}

/* Footer */

#footer {
    background-color: #fff;
    padding: 6% 15% 3%;
}

.footer-icon {
    margin: 3% 1%;
}


@media (max-width: 1180px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}